body {
  margin: 0 !important;
  padding: 0 !important;
}

.red {
  border: 1px solid red;
}

.green {
  border: 1px solid green;
}

.header {
  height: 500px;
  background: url("./img/banner.jpg") center center no-repeat;
  padding: 20px;
}
.header .sign-is-login {
  height: 80px;
  width: 100%;
  text-align: right;
}
.header .sign-is-login .about,
.header .sign-is-login .sign-in {
  padding: 7px 15px;
  text-decoration: none;
  display: inline-block;
  margin-top: 20px;
  text-transform: uppercase;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 16px;
}
.header .sign-is-login .sign-in {
  margin-right: 65px;
  margin-left: 25px;
  border: 2px solid green;
  border-radius: 100px;
  color: green;
}
.header .logo {
  height: 100px;
  background: url("./img/hapoERP.png") center center no-repeat;
  margin-top: 40px;
}
